<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HastaneProjesi_NTP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HastaneProjesi_NTP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <HastaneProjesi_NTP.Properties.Settings>
            <setting name="hasan" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="kilic" serializeAs="String">
                <value>11</value>
            </setting>
        </HastaneProjesi_NTP.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HastaneProjesi_NTP.Properties.Settings>
            <setting name="haa" serializeAs="String">
                <value>11</value>
            </setting>
        </HastaneProjesi_NTP.Properties.Settings>
    </applicationSettings>
</configuration>
